button {
  background-color: #c6ac8f;
  color: black;
  margin: 10px;
  width: 100px;
  border-radius: inherit;
  height: auto;
}
.spacer{
  flex: 1 1 auto;
}
a{
  color: rgb(238, 236, 231);
  font-size:25px;
  margin: 5px;
  font-weight: 500;
}
span{
  color: rgb(238, 236, 231);
  font-size:25px;
  margin: 5px;
  font-weight: 500;
}
.fixed{
  background-color: #72593b;
}
