.container{
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 10px;
  font-size: medium;
  color: gray;
  background: #f4f4f4;
}
ul {
list-style-type: none;
font-weight: 300;
}
li{
padding: 5px;
margin: 5px;
}
.list{
  text-align: left;
}
button{
color: black;
margin: 5px;
background-color: #c6ac8f;
width: 70px;
font-size: small;
border-radius:5px;
}


