<div class="header">
  <b>{{ Title.toUpperCase() }}</b>
</div>
  <form [formGroup]="blogForm">
    <div class="center">
    <div class="form-group">
      <div [hidden]="blogForm.valid" class="form-group">
        Please fill in required fields *
      </div>
      <label for="title">Title</label>
      <input
        formControlName="title"
        type="text"
        id="title"
        class="form-control"
        placeholder="Blog Title..."
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        formControlName="description"
        type="text"
        id="description"
        class="form-control"
        placeholder="Description"
        required
      />
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input
        formControlName="author"
        type="text"
        id="author"
        class="form-control"
        placeholder="Author"
        required
      />
    </div>
    <div class="form-group">
      <ng-container formArrayName="comments">
        <label for="comments">Comments</label>
        <div *ngFor="let _ of ff.controls; index as i" class="input-group mb-3">
          <input
            [formControlName]="i"
            class="form-control"
            style="height: 40px"
            placeholder="Comment {{ i + 1 }}"
            required
          />
          <button
            type="button"
            class="btn"
            style="height: 40px"
            (click)="deleteComment(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

          <button class="btn" (click)="addComment()">
            <mat-icon style="padding-top: 4px;">add_comment</mat-icon> Add Comment
          </button>

      </ng-container>
    </div>
    <div class="form-btn">
      <button
        type="submit"
        style="margin-right: 10px"
        (click)="reset()"
        class="btn btn-success"
      >
        Clear Form
      </button>
      <button
        type="submit"
        style="margin-right: 10px; width: 100px"
        (click)="submitBlog()"
        [disabled]="blogForm.invalid"
        class="btn btn-success"
      >
        Submit
      </button>
    </div>
  </div>
  </form>

<div>
<br/>
<br/>
</div>
